body{
  margin:auto;
}

h1{
  font-family: 'Bungee', cursive;
}

h2{
  text-align:center;
  em;
  font-size: 20px;
}

.header-class{
  margin: 20px 0px;
  text-align:center;
}

.navigation-bar{
  display:flex;
  text-align:center;
  padding-left: 15%;
}

.navigation-column{
  text-align:center;
  padding: 0px 10px;
  border: 2px solid #4d4d00;
}

.about-me-picture-container{
  display:flex;
  column-gap: 600px;
  padding-left: 250px;
}

.Personality-result-container{
  display:flex;
}

.personality-child{
  margin: 0px 4px;
  border: 2px solid black;
  border-bottom: 0px;
  background-color:#99ceff;
}

.Second-result-container{
  display:flex;
  column-gap: 512px;
}

.second-personality-child{
  margin: 0px 4px;
  border: 2px solid black;
  border-top: 0px
}
